vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|04 Oct 2006 13:16:19 -0000
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{09D4B4AB-9AA9-4363-8D57-50CDF734D21F}
vti_backlinkinfo:VX|
vti_cacheddtm:TX|04 Oct 2006 13:16:19 -0000
vti_filesize:IR|2186
vti_cachedlinkinfo:VX|S|background.gif S|arrow_left.gif S|arrow_right.gif S|background_month.gif S|background_day_today.gif S|date_selected.gif S|background_day_special.gif
vti_cachedsvcrellinks:VX|FSUS|calendar/styles/desert/background.gif FSUS|calendar/styles/desert/arrow_left.gif FSUS|calendar/styles/desert/arrow_right.gif FSUS|calendar/styles/desert/background_month.gif FSUS|calendar/styles/desert/background_day_today.gif FSUS|calendar/styles/desert/date_selected.gif FSUS|calendar/styles/desert/background_day_special.gif
