vti_encoding:SR|utf8-nl
vti_author:SR|KURURU\\hikari
vti_timelastmodified:TR|24 Oct 2006 08:07:12 -0000
vti_timecreated:TR|22 Oct 2006 09:49:58 -0000
vti_lineageid:SR|{3DE23CCD-A7FE-4E0B-B573-ED51D11694DC}
vti_extenderversion:SR|5.0.2.6790
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|22 Oct 2006 09:50:58 -0000
vti_cacheddtm:TX|22 Oct 2006 09:54:14 -0000
vti_filesize:IR|1991
