vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|04 Oct 2006 13:16:11 -0000
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{857A824C-A392-4F13-9857-1955AF9F3E10}
vti_backlinkinfo:VX|
vti_cacheddtm:TX|04 Oct 2006 13:16:11 -0000
vti_filesize:IR|2709
vti_cachedlinkinfo:VX|S|cal_title_mid.gif S|cal_title_left.gif S|cal_title_right.gif S|monthname.gif S|bgday.gif S|bgday.gif S|bgdaysel.gif S|bgday.gif
vti_cachedsvcrellinks:VX|FSUS|calendar/styles/blocky_revert/cal_title_mid.gif FSUS|calendar/styles/blocky_revert/cal_title_left.gif FSUS|calendar/styles/blocky_revert/cal_title_right.gif FSUS|calendar/styles/blocky_revert/monthname.gif FSUS|calendar/styles/blocky_revert/bgday.gif FSUS|calendar/styles/blocky_revert/bgday.gif FSUS|calendar/styles/blocky_revert/bgdaysel.gif FSUS|calendar/styles/blocky_revert/bgday.gif
