vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|02 Nov 2006 15:01:29 -0000
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{176E668C-77FA-4CBA-BE06-25E62A2095EB}
vti_backlinkinfo:VX|book/gb_top.asp culture.htm PromotionDetail.aspx gbook.htm law.htm culture_in.htm index.aspx law_in.htm link.htm StoreDetail.aspx StoreList.aspx
vti_author:SR|KURURU\\hikari
vti_nexttolasttimemodified:TW|26 Oct 2006 04:54:39 -0000
vti_timecreated:TR|25 Oct 2006 14:57:37 -0000
vti_cacheddtm:TX|02 Nov 2006 15:01:29 -0000
vti_filesize:IR|3111
vti_cachedlinkinfo:VX|S|/img/index/leftbg.gif S|/img/product/lightbg_left.gif S|/img/product/lightbg_right.gif
vti_cachedsvcrellinks:VX|FSUS|img/index/leftbg.gif FSUS|img/product/lightbg_left.gif FSUS|img/product/lightbg_right.gif
