vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|08 Nov 2006 17:19:59 -0000
vti_extenderversion:SR|5.0.2.6790
vti_backlinkinfo:VX|
vti_author:SR|KURURU\\hikari
vti_modifiedby:SR|KURURU\\hikari
vti_nexttolasttimemodified:TW|08 Nov 2006 17:19:40 -0000
vti_timecreated:TR|08 Nov 2006 15:53:52 -0000
vti_lineageid:SR|{20882D7B-E069-4B98-93CD-E607FE836CF8}
vti_cacheddtm:TX|08 Nov 2006 17:19:59 -0000
vti_filesize:IR|6190
vti_cachedlinkinfo:VX|S|/Admin/image/admin_top_bg.gif S|/Admin/image/h3.gif S|/Admin/image/admin_bg_2.gif S|/Admin/image/admin_bg_3.gif S|/Admin/image/h3.gif
vti_cachedsvcrellinks:VX|FSUS|Admin/image/admin_top_bg.gif FSUS|Admin/image/h3.gif FSUS|Admin/image/admin_bg_2.gif FSUS|Admin/image/admin_bg_3.gif FSUS|Admin/image/h3.gif
